<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết đơn hàng</title>
    <!--==  link CSS  ==--->
    <link rel="stylesheet" type="text/css" href="../public/css/orderDetail.css">
    <!--==  Iconscout CSS  ==--->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body>
    <div class="container">
        <header>
            CHỈNH SỬA SẢN PHẨM
        </header>
        <div class="form">
            <div class="form first">
                <div class="details personal">
                    <form action="/update/<%= product._id %>" method="post">
                        <span class="title">Thông tin khách hàng</span>
                        <div class="fields">
                            <div class="input-field">
                                <label> Họ Tên</label>
                                <input type="text" name="title" placeholder="Tên khách hàng"
                                    value="<%= product.title %>">
                            </div>

                            <div class="input-field">
                                <label> Giá tiền</label>
                                <input type="number" name="price" placeholder="Giá tiền" value="<%= product.price %>">
                            </div>

                            <div class="input-field">
                                <label>Trạng thái</label>
                                <select class="select" name="status">
                                    <% if(product.status==0) {%>
                                        <option value="0">Còn hàng</option>
                                        <option value="1">Hết Hàng</option>
                                        <% } else if (product.status==1) {%>
                                            <option value="1">Hết Hàng</option>
                                            <option value="0">Còn hàng</option>
                                            <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="backBtn">
                                <span class="btnText">Quay lại</span>
                                <i class="uil uil-navigator"></i>
                            </button>
                            <button class="nextBtn">
                                <span class="btnText">Xác nhận</span>
                                <i class="uil uil-navigator"></i>
                            </button>
                        </div>
                    </form>
                </div>

                <div class="details personal">
                    <form action="/update-details/<%= product._id %>" method="post">
                    <span class="title">Chi tiết đơn hàng </span>
                        <div class="fields2row">
                            <div class="input-field-2row">
                                <label> Size</label>
                                <input type="text" id="editSize" name="newSize">
                            </div>

                            <div class="input-field-2row">
                                <label> Số lượng</label>
                                <input type="number" id="editQuantity" name="newQuantity">
                            </div>
                        </div>
                    <table>
                        <thead>
                            <tr>
                                <th>Size</th>
                                <th>Số lượng</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% product.details.forEach(item=>{ %>
                                <tr onclick="callme(this)">
                                    <td>
                                        <%=item.size%>
                                    </td>
                                    <td>
                                        <%=item.quantity%>
                                    </td>
                                </tr>
                                <% } ) %>
                        </tbody>
                    </table>
                    <div class="buttons">
                        <button class="backBtn">
                            <span class="btnText">Quay lại</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                        <button class="nextBtn">
                            <span class="btnText">Xác nhận</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                    </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        function callme(e) {
            var tds = e.getElementsByTagName('td');
            document.getElementById("editSize").value = tds[0].innerHTML.trim();
            document.getElementById("editQuantity").value = tds[1].innerHTML.trim();
        }
    </script>
</body>

</html>