<!DOCTYPE html>
<html>
<title>E-commerce</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/edit.css">

<body>

   <div class="w3-container w3-blue" >
      <div style=" left: 100;">
         <h2 >Chỉnh sửa sản phẩm</h2>
      </div>
      
   </div>

   <div class="container">

      
      <h3>- Chỉnh sửa thông tin</h3>
      <form action="/update/<%= product._id %>" method="post" class="w3-container">
         
         <label>Tên sản phẩm:</label>
         <input class="w3-input" name="title" type="text" value="<%=product.title%>">

         <label>Giá tiền:</label>
         <input class="w3-input" name="price" type="text" value="<%=product.price%>">

         <!-- <p>
            <label>Trạng thái</label>
            <% if (product.status==0) { %>
               <input class="w3-input" type="text" value="Còn hàng">
               <% } else if (product.status==1) { %>
                  <input class="w3-input" type="text" value="Hết hàng">
                  <% } %>
         </p> -->
         <select name="status">
            <% if (product.status==0) { %>
               <option value="0">Còn hàng</option>
               <option value="1">Hết Hàng</option>
               <% } else if (product.status !==0) {%>
                  <option value="1">Hết Hàng</option>
                  <option value="0">Còn hàng</option>
                  <% } %>
                     <!-- <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option> -->
         </select>
         <div class="boxButton">
            <button class="btn-success" type="submit">Lưu</button>
            <button class="btn-default" type="reset">Mặc định</button>

         </div>

      </form>
      <hr>
      <h3>- Kích cỡ sản phẩm</h2>
         <table id="table">

            <tr>
               <th>Size</th>
               <th>Số lượng </th>
            </tr>

            <tbody>
               <% product.details.forEach(item=>{ %>
                  <tr onclick="callme(this)">
                     <td>
                        <%=item.size%>
                     </td>
                     <td>
                        <%=item.quantity%>
                     </td>
                  </tr>
                  <% } ) %>
            </tbody>

         </table>
         <form action="/update-details/<%= product._id %>" method="post" class="w3-container">

            <label for="fname">Size</label>:</label>
            <input type="text" id="editSize" name="newSize"><br><br>
            <label for="lname">Số lượng:</label>
            <input type="text" id="editQuantity" name="newQuantity"><br><br>
            <div class="boxButton">
               <button class="btn-success" type="submit">Lưu</button>
               <button class="btn-default" type="reset">Mặc định</button>
            </div>
         </form>
   </div>




   <script>

      function callme(e) {
         var tds = e.getElementsByTagName('td');
         document.getElementById("editSize").value = tds[0].innerHTML.trim();
         document.getElementById("editQuantity").value = tds[1].innerHTML.trim();
      }

      // // Get the modal
      // var modal = document.getElementById("myModal");

      // // Get the button that opens the modal
      // var btn = document.getElementById("myBtn");

      // // Get the <span> element that closes the modal
      // var span = document.getElementsByClassName("close")[0];

      // // When the user clicks the button, open the modal 
      // btn.onclick = () => {
      //    modal.style.display = "block";
      // }

      // // When the user clicks on <span> (x), close the modal
      // span.onclick = () => {
      //    modal.style.display = "none";
      // }

      // // When the user clicks anywhere outside of the modal, close it
      // window.onclick = function (event) {
      //    if (event.target == modal) {
      //       modal.style.display = "none";
      //    }
      // }
   </script>
</body>

</html>